@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jaro:opsz@6..72&family=Lilita+One&family=Sarala:wght@400;700&family=Seymour+One&family=Sigmar&family=Ultra&display=swap');

@font-face {
    font-family: "Trade Gothic LT Std";
    src: url("../fonts/trade-gothic-lt-std.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.dashboard-header {
    text-align: center;
    padding: 1.2rem;
    border-radius: 15px;
    background: linear-gradient(90deg, #fffdf2, #e3e4e2);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}

.dashboard-header h1 {
    color: #2E4057;
    font-family: "Trade Gothic LT Std";
    margin-bottom: 0;
}
